In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/dynamic-pricing-dataset/dynamic_pricing.csv

In [4]:
data=pd.read_csv("/kaggle/input/dynamic-pricing-dataset/dynamic_pricing.csv")

## Create a data dictionary

In [10]:
def get_data_dictionary (data):

    data_dict=pd.DataFrame(columns= ['Column', 'Count', 'Unique Values', 'Range', 'Null values', 'Possible Values'])
    
    for col in data.columns:
        count=data[col].shape[0]
        unique_values=data[col].nunique()
        if unique_values>1:
            range=f"{data[col].min()}-{data[col].max()}"

        else:

            range=np.nan

        nulls=data[col].isna().sum()

        values=list(data[col].sample (frac=0.25, replace=False, random_state=42))

        values=list (set (values))[:5]

        data_dict.loc [len(data_dict)]=[col,count, unique_values, range, nulls, values]

    return data_dict

data_dict=get_data_dictionary (data)

data_dict

,Column,Count,Unique Values,Range,Null values,Possible Values
0,Number_of_Riders,1000,81,20-100,0,"[21, 22, 23, 24, 25]"
1,Number_of_Drivers,1000,79,5-89,0,"[5, 6, 7, 8, 9]"
2,Location_Category,1000,3,Rural-Urban,0,"[Rural, Urban, Suburban]"
3,Customer_Loyalty_Status,1000,3,Gold-Silver,0,"[Gold, Regular, Silver]"
4,Number_of_Past_Rides,1000,101,0-100,0,"[0, 1, 2, 3, 4]"
5,Average_Ratings,1000,151,3.5-5.0,0,"[3.53, 4.78, 3.57, 4.98, 4.29]"
6,Time_of_Booking,1000,4,Afternoon-Night,0,"[Night, Afternoon, Evening, Morning]"
7,Vehicle_Type,1000,2,Economy-Premium,0,"[Premium, Economy]"
8,Expected_Ride_Duration,1000,171,10-180,0,"[11, 12, 14, 16, 17]"
9,Historical_Cost_of_Ride,1000,1000,25.993449448411635-836.1164185613576,0,"[517.9444619823878, 518.9547629602604, 510.626..."